<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/51a7cc97b5.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <h2>EventHub</h2>
        <nav>
          <a class="links" href="/events">See Events</a>
        </nav>
      </div>
    </header>
    <section class="container">
      <form class="add-details-form" action="/events/<%= event.id%>" method="POST">
        <h2  class="form-header" >Update Event Details</h2>
        <input
          type="text"
          name="title"
          placeholder="Add Event Title"
          value="<%= event.title %>"
          class="form-control"
        />
        <textarea
          name="summary"
          placeholder="Add short summary"
          id=""
          cols="30"
          rows="10"
          class="form-control-textarea"
        >
<%= event.summary  %></textarea
        >
        <input
          type="text"
          name="host"
          placeholder="Add host Name person/organization"
          value="<%= event.host  %>"
          class="form-control"
        />
        <label class="start-date" for="start-date">Event Kickoff Date :</label>
        <input
          type="date"
          name="start_date"
          placeholder="Add Event Start Date"
          value="<%= event.start_date  %>"
          class="form-control flex-84"
        />
        <label class="end-date" for="end-date">Event Wrap-up Date :</label>
        <input
          type="date"
          name="end_date"
          placeholder="Add Event End Date"
          value="<%= event.end_date  %>"
          class="form-control flex-84"
        />
        <input
          type="text"
          name="event_category"
          placeholder="Add Category's of your Event"
          value="<%= event.event_category  %>"
          class="form-control"
        />
        <input
          type="text"
          name="location"
          placeholder="Add location"
          value="<%= event.location  %>"
          class="form-control"
        />
        <input
          type="Number"
          name="likes"
          placeholder="Add likes"
          value="<%= event.likes  %>"
          class="form-control"
        />
        <input type="submit" value="Update Events" class="btn-submit"/>
      </form>
    </section>
    <footer>
      <section class="container">
        <div class="flex justify-between">
          <address class="flex-20">
            EventHub: 123 Main Street, Bangalore, Karnataka, India,Pin-code
            -560001
          </address>
          <div>
            <a class="media-links" href="https://facebook.com" target="_blank"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a class="media-links" href="https://instagram.com" target="_blank"
              ><i class="fa-brands fa-square-instagram"></i
            ></a>
            <a class="media-links" href="https://twitter.com" target="_blank"
              ><i class="fa-brands fa-twitter"></i
            ></a>
            <a class="media-links" href="https://youtube.com" target="_blank"
              ><i class="fa-brands fa-youtube"></i
            ></a>
            <a class="media-links" href="https://dribble.com" target="_blank"
              ><i class="fa-brands fa-dribbble"></i
            ></a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
